*{
    padding: 0px;
    margin: 0px;
}
#current-image-container{
    color: white;
    background: black;
    padding: 15px 15px;
    margin: 10px;
}
#search-form,#texts,h3,h2{
    margin: 10px;
}
.myImage{
    width: 100%;
    margin: 10px 0px;
}
#search-history{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px 30px;
}